/* nav-container start */

.nav-container{
    width: 1000px;
   display: flex ;
   justify-content: space-between;
   align-items: center;
   /* border: 2px solid green; */
   background: #FFF;
   margin: 0 auto;
   /* padding: 50px; */

}

.nav-heading{
    /* border: 2px solid red; */
    height: 60px;
    display: flex;
    align-items: center;
    
}
.nav-heading img{
    width: 48px;
    object-fit: cover;


}
.nav-heading p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 201px;
    height: 45px;
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
}

.items-container{
    /* border: 2px solid rgb(231, 228, 23); */
    display: flex;
    justify-content: space-around;
    width: 506px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 10px 0px;
    gap: 44px;
}
.items-container a{
    text-decoration: none;
    color: #424247;

}

.special,.home-button a{
    color: #FF5400;
    
}

/* nav-container end here */

.banner-container img{
    width:1000px;
    display: flex;
    margin: 0 auto;
}

.banner-heading{
   
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}
.banner-heading{
    display: flex;
    width: 596px;
    height: 80px;
    color: #FFF;
font-size: 64px;
font-weight: 800;

}

.banner-heading-02{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-heading-02{
    color: #fdfcfc;
    font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.buttons{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttons{
    /* border: 2px solid red; */
    width: auto;
    height: 20px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 6px;
  
   
}
 .btn1,.btn2,.btn3,.btn4{
    width: 150px;
    border-radius: 6px;
    padding:  5px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}
.btn4{ 
   
    color: #FFF;
    background-color: #FF5400;
}




/* banner container ends here */

/* tours-container starts here */
   
.tours-container{
   width: 1000px;
   height: 400px;
   /* border: 2px solid grey; */
   display: flex;
   margin: 0 auto;
   margin-top: 60px;
   
  
}
.tours-container img{
    width: 400px;
    height: 400px;

}
.Tours-Details{
    max-width:500px ; 
   width: 400px;
   height: 400px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: left;
  margin-right: auto;
  
}


.Tours-Details h1{
    width: 300px;
    height: 50px;
    padding-bottom: 5px ;
    margin: auto 0px;
}

.Tours-Details .btn{
   background-color:#FF5400;
   color: #FFF;
   border: none;
   border-radius: 5px;
   width: 140px;
   height: 30px;
}

/* tours-container ends here */

/* destinations start here */
.Destintions{
    width: 1000px;
    /* border: 2px solid mediumspringgreen; */
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.Destintions h1{
    /* border: 2px solid blue; */
    width:478px ;
    height:50px ;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.Destintions p{
    display: flex;
    justify-content: center;
    align-items: center;
   padding:  20px 0;
    margin: 0 auto;
    font-size: 20px;
}

/* destinations ends here */

/* countries-images start here */

.countries-images{
    width: 1000px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

  /* first-banner starts here */

.first-banner{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    
   
}
.rectangle-5{
    position: relative;
  text-align: center;

}
.rectangle-5 img{
    width: 490px;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: start;
    /* border: 2px solid salmon; */
}
.rectangle-5 p{
    /* border: 2px solid goldenrod; */
    width: 120px;
    height: 35px;
    font-size: 28px;
    font-weight: 800px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}

.rectangle-8{
    position: relative;
  text-align: center;
  
}
.rectangle-8 img{
    width: 490px;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.rectangle-8 p{
    width: 120px;
    height: 35px;
    font-size: 28px;
    font-weight: 800px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* first-banner ends here  */

/* second banner starts here */

.second-banner{
    /* border: 2px solid blue; */
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
    margin-top: 20px;
}

.rectangle-6{
    /* border: 2px solid goldenrod; */
    
    position: relative;
    text-align: center;
}
.rectangle-6 img{
    width: 310px;
    height: 300px;
    display: flex;
    align-items:start;
    justify-content:start;
}
.rectangle-6 p{
    width: 140px;
    height: 35px;
    font-size: 28px;
    font-weight: 800px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rectangle-7{
    position: relative;
    text-align: center;
}
.rectangle-7 img{
    width: 360px;
   height: 300px;
   display: flex;
   align-items:center;
   justify-content:center;
}

.rectangle-7 p{
    width: 200px;
    height: 35px;
    font-size: 28px;
    font-weight: 800px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rectangle-9{
    position: relative;
    text-align: center;
} 
.rectangle-9 img{
    width: 290px;
    height: 300px;
    display: flex;
    align-items:center;
    justify-content:center;
}
.rectangle-9 p{
    width: 200px;
    height: 35px;
    font-size: 28px;
    font-weight: 800px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* second banner ends here */
/* countries-images end here */